@import "_variable.scss";
@function rem($px) {
    @return calc($px / 14px) + rem;
}
.intro {
    &__row {
        aspect-ratio: 11.6 / 4.61;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        z-index: 2;
        padding: rem(64px);
        & video {
            border-radius: 24px;
            position: absolute;
            inset: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
    }

    &__info {
        position: relative;
        z-index: 2;
        flex: 0 1 685px;

        .btn {
            margin-top: rem(32px);
        }

        h1 {
            span {
                display: none;
            }
        }

        p {
            max-width: 412px;

            .mobile {
                display: none;
            }
        }
    }

    &__sertificate {
        position: relative;
        z-index: 2;
        min-width: fit-content;

        p {
            font-weight: 400;
            font-size: rem(16px);
            line-height: 150%;
            text-align: right;

            &:first-child:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }
}
.sub-intro {
    .container {
        display: flex;
        gap: 8px;
        padding-right: 0px;
    }
    &__aside {
        flex: 0 0 236px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__swiper {
        .swiper-slide {
            position: relative;
            overflow: hidden;
            aspect-ratio: 3/4.5;
            border-radius: 24px;

            img {
                position: relative;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.swiper-slide-active {
                .sub-intro__text {
                    opacity: 1;
                }
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        z-index: 2;
        inset: 0px;
        padding: 32px;
        background: linear-gradient(180deg, rgba(31, 139, 72, 0) 30%, $green 100%);
        opacity: 0;
        transition: all 300ms ease;

        p {
            font-weight: 400;
            font-size: rem(16px);
            line-height: 150%;
        }
    }
}
.form {
    &__row {
        display: flex;
        background: $green;
        padding: 64px;
        border-radius: 24px;
        justify-content: space-between;
    }
    &__info {
        flex: 0 1 50%;
    }
    form {
        flex: 0 1 calc(50% - 64px);
    }
}
.contacts {
    &__row {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }
    &__info {
        border-radius: 24px;
        padding: 64px;
        flex: 1 0 5rem;
        min-width: 511px;
        background: $white;

        .phones {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 16px 32px;
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 16px;

        a,
        & > div {
            display: flex;
            gap: 8px;
            align-items: center;

            font-weight: 500;
            font-size: rem(21px);
            line-height: 140%;
            letter-spacing: -0.03em;
            color: $black;
        }
    }
    &__link-image {
        display: flex;
        align-items: center;
        padding: 4px;
        justify-content: center;
        border-radius: 50%;
        background: $green;
    }
    .btn {
        margin-top: 32px;
    }
    iframe {
        flex: 1 0 5rem;
        border-radius: 24px;
        overflow: hidden;
        min-height: 250px;
    }
}
