@font-face {
	font-family: Gropled;
	font-display: swap;
	src: url("../fonts/Gropled-Bold.woff2") format("woff2"), url("../fonts/Gropled-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: TildaSans;
	font-display: swap;
	src: url("../fonts/TildaSans-VF.woff2") format("woff2"), url("../fonts/TildaSans-VF.woff") format("woff");
	font-style: normal;
}
